<%
  parameters = params.except(:controller, :action, :page).to_unsafe_h
%>
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand pt-3">
    <a href="/" class="app-brand-link">
      <span class="app-brand-logo demo">
      </span>
      <span class="app-brand-text demo menu-text fw-bold ms-2">VAGAS DE TI</span>
    </a>
    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="fa-solid fa-circle-chevron-left back-icon"></i>
    </a>
  </div>
  <div class="menu-inner-shadow"></div>
  <ul class="menu-inner py-5">
    <li class="menu-item">
      <div class="px-4">
        <div class="pb-3">
          <i class="menu-icon fa-solid fa-calendar-days"></i>
          Data:
        </div>
        <%= form_with url: vacancies_path, method: :get, local: true, id: 'dateForm', data: { turbo: "false" } do |form| %>
          De
          <div class="input-group date form_date">
            <input type="date" name="start_date" class="form-control" id="startDateInput">
          </div>
          <div class="pt-2">Para</div>
          <div class="input-group date form_date">
            <input type="date" name="end_date"class="form-control" id="endDateInput">
          </div>
        <% end %>
      </div>
    </li>
    <li class="menu-item pt-3 open" style="">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class=" menu-icon fa-solid fa-tags"></i>
        <div class="margin-category">Categorias</div>
      </a>
      <ul class="menu-sub">
        <% @vacancies.aggs['labels']['buckets'].sort_by{|label| label['doc_count'] }.reverse.each do |label| %>
          <li class="menu-item">
            <%= link_to vacancies_path(parameters.merge(label: label['key'])), class: "menu-link" do %>
              <div><%= label['key'] %></div>
              <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto"><%= label['doc_count'] %></div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </li>
  </ul>
</aside>
