.back-icon {
  font-size: 23px;
  background-color: white;
  color: #696cff;
}

.menu-vertical .menu-inner > .menu-item .menu-link {
  margin: 0rem 0.5rem;
}

.margin-category {
  margin-left: 3px;
}

.btn-light:hover {
  color: #435971;
  background-color: #fcfdfd;
  border-color: #fcfdfd;
  transform: translateY(0px);
}
